<md-option
	{{will-ripple
		rippleContainerSelector=@rippleContainerSelector
		center=@rippleCenter
		dimBackground=@dimRippleBackground
		fitRipple=@fitRipple
		inkColor=@rippleInkColor
		noInk=@noRippleInk
	}}

	...attributes
>
	<div class="md-text">
		{{yield}}
	</div>
</md-option>
